
/*menubar*/
#menu{
height: 900px;
width:250px;
background-color: rgb(0, 0, 0);
color: white;
position: fixed;
display: inline;
border-right: 1px solid rgb(255, 255, 255);
}
a{
text-decoration: none;
color: white;
font-weight: bold;

}
span{
margin: 20px ;
}
button{
background-color: rgb(0, 0, 0);
outline-color: rgb(0, 0, 0);
color: white;
padding:10px;
}
.btn{
margin: 10px;
color: white;
font-weight: bold;
}

a:hover{
    font-size: large;
    font-weight: bold;
}
/*story section*/
.stories>img{
height:58px;
width:58px;
border-radius: 50px;
margin-bottom: 5px;
padding: 3px;
}
figcaption{
font-size: 10px;
}
.story{
display: flex;
flex-wrap: wrap;
}
.stories{
height:58px;
width:58px;
margin: 7px;
border-radius: 50px;
background-color: beige;
background: linear-gradient(orange,orangered,red ,purple);
margin-top: 50px;
margin-bottom: 40px;
}

/*homepage*/
#homepage{
margin-left:500px;
margin-right: 50px;
}
body{
color: white;
background-color:rgb(0, 0, 0);
background-attachment: scroll;
}




/*post section*/

.bi-three-dots {
position: absolute;
margin-top: 19px;
margin-left:300px;
}
.post>img, video{
width:480px;
margin-left: 58px;
}
.postheader>img{
height:40px;
width:40px;
border-radius:50%;
margin:10px;
margin-left: 60px;
}
h6{
display: inline;
}
.comment{
margin-left: 70px;
}
h5{
display: inline;
padding-right: 20px;
}


/*comment section*/
.comment{
display: flex;
}
.comment>h4>i{
padding-right: 19px;
}
.bi-bookmark, .bi-bookmark-fill{
position: relative;
padding-left: 330px;
}
.like{
margin-left: 70px;
font-size: 8px;
margin-top: 8px;
}
pre{
font-size: 15px;
font-weight:normal;
color: rgb(175, 181, 187);
font-family:Arial, Helvetica, sans-serif;
}
h6{
font-weight: bold;
}
.unbold{
font-weight: lighter;
font-size: 15px;
color: rgb(138, 148, 148);
}
